<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--FailIfMissing=false表示数据库不存在时就会自动创建-->
    <!--<add key="SQLiteConnString" value="data source=|DataDirectory|data\NDSDatabase.db;Pooling=true;FailIfMissing=true"/>
    <add key="DataPath" value="data\"/>
    <add key="DatabasePath" value="data\NDSDatabase.db"/>
    <add key="TestDataPath" value="data\testData"/>
    <add key="DataBufferPath" value="data\buffer"/>-->
    <!--
    <add key="SQLiteConnString" value="data source=|DataDirectory|data\NDSDatabase.db;Pooling=true;FailIfMissing=true"/>
    <add key="DataPath" value="data\"/>
    <add key="DatabasePath" value="data\NDSDatabase.db"/>
    <add key="TestDataPath" value="data\testData"/>
    <add key="DataBufferPath" value="data\buffer"/>
    -->
    <!--测试程序路径-->
    <add key="MMSETestProgramPath" value="..\板子检查程序\Inquiry System.exe" />
    <add key="TMTATestProgramPath" value="..\板子检查程序\TMTA.exe" />
    <add key="TMTBTestProgramPath" value="..\板子检查程序\TMTB.exe" />
    <add key="SpiralTestProgramPath" value="..\板子检查程序\ArchimedesSpiral.exe" />
    <add key="BlocksTestProgramPath" value="..\方块测试程序\NewVersion_1.0.0.exe" />
    <add key="ClockTestProgramPath" value="..\板子检查程序\MOCA_ClockDrawing.exe" />
    <add key="ClockCopyTestProgramPath" value="..\板子检查程序\ClockCopy.exe" />
    <add key="SoundTestProgramPath" value="..\音频检查程序\SoundRecording.exe" />
    <add key="GaitTestProgramPath" value="..\步态检查程序\XieHeProject.exe" />
    <add key="SpoonTestProgramPath" value="..\勺子测试程序\SpoonDemo.exe" />
    <!--查看程序路径-->
    <add key="MMSEViewProgramPath" value="" />
    <add key="TMTAViewProgramPath" value="..\TMT数据浏览器\TMTReport.exe" />
    <add key="TMTBViewProgramPath" value="..\TMT数据浏览器\TMTDataViewer.exe" />
    <add key="SpiralViewProgramPath" value="..\螺旋线数据浏览器\SpiralDataViewer.exe" />
    <add key="BlocksViewProgramPath" value="..\方块数据浏览器\CubeAnalysis.exe" />
    <add key="ClockViewProgramPath" value="..\画钟数据浏览器\ClockDataViewer.exe" />
    <add key="ClockCopyViewProgramPath" value="" />
    <add key="CubeViewProgramPath" value="..\立方体数据浏览器\CubeDataViewer.exe" />
    <add key="BlocksViewProgramPath" value="" />
    <add key="HandWritingViewProgramPath" value="..\手写数据浏览器\HandWritingDataViewer.exe" />
    <add key="SoundViewProgramPath" value="..\音频数据浏览器\SoundReport.exe" />
    <add key="GaitViewProgramPath" value="..\步态数据浏览器\DXApplication2.exe" />
    <add key="SpoonViewProgramPath" value="" />
    <add key="ADTViewProgramPath" value="..\ADT\NSDAncillaryDiagnosticTool.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IsSelfChecked" value="1" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>